{{ define "main" }}

<section class="article">
    <h1 id="title" class="py-2">{{ .Title }}</h1>
    <div> {{ .Content }} </div>

    <br>
    ---
    <br><br>
    <small>
        {{ .Date.Format "Mon Jan 2, 2006" }}, 
        {{ with .Params.tags }}
            {{ if (reflect.IsSlice .) }}
                {{ range . }}
                    <a class="tag" href="/tags/{{ . | urlize }}">{{ . }}</a>
                {{ end }}
            {{ else }}
                <a class="tag" href="/tags/{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        {{ end }}

        <!-- <br> Mau email kalau ada info menarik? <a href="http://eepurl.com/gDX5-D" target="_blank"> klik ini</a>. <br> -->
    </small>
    <br>
</section>

<script>
    document.getElementById("title").scrollIntoView();
</script>

<div id="disqus_thread"></div>
<script>
    (function () { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://hilmanspace.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>

{{ end }}