<!DOCTYPE html>
<html lang="id">

<head>
    <title> {{ .Title }} </title>
        <meta name="description"
            content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.Description }}{{ end }}"
            property="og:description">
        
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@hilmanski" />
        <meta name="twitter:creator" content="@hilmanski" />
    <meta property="og:url" content="{{ .Permalink }}" />
        <meta property="og:title" content="{{ .Title }} " />
        <meta property="og:description"
            content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.Description }}{{ end }}" />
        <meta property="og:image" 
        content="{{if isset .Params "featured_image"}}{{.Params.featured_image}}
                {{else}}https://ogi.sh/article?title={{replace .Title "%20" " " }}&subtitle=@hilmanski&unsplashId=3OR-XFzKSBo{{ end }}" />

    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    
    <!-- Styles -->
   {{ $style := resources.Get "/sass/main.sass" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script async defer src="https://sa-api.hilman.space/latest.js"></script>
    <noscript><img src="https://sa-api.hilman.space/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
</head>

<body>
    <header>
        <nav class="columns is-mobile flex-end">
            <a href="/" id="navhome">Halo</a>
        </nav>
    </header>