{{ define "main" }}
    <!-- Netlify cms  -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    <section>
      <img src="https://i.ibb.co/ZXqKqNT/halokoding-1.jpg" alt="cover buku halo koding"
        width="250">
      <p><a href="https://halokoding.com/"> Cek Buku saya: Halo Koding</a></p>
    </section>
    <br>
    <hr>
    <br>
     <section>
        <h1>Halo, saya Hilman Ramadhan (@hilmanski)</h1>
        <p class="text-size-m">Salam kenal, saya susah diam, biasanya berpikir, menulis atau bikin sesuatu seperti
            sekolahkoding.com. Ada yang berhasil, banyak yang tidak.</p>
    </section>

    <section id="links">
        
        <a href=/baca>📝 Baca tulisan terbaru</a> <br>
        <a href=/kerjaan>🗄 Daftar Kerjaan/Karya</a> <br>
        <a href=https://anchor.fm/tehataukopi target=_blank>📻 Dengarkan Podcast</a> <br>
        <a href=https://jurnal.dev target=_blank>💻 Catatan developer @JurnalDev</a> 

        <br><br><hr><br>

        <a href=/dukung>Dukung</a> /
        <a href=/kontak>Kontak</a> /
        <a href="http://eepurl.com/gDX5-D" target="_blank"> Langganan Email</a> /
        <a target=_blank href=/blog/index.xml>RSS</a>
    </section>
    <br><br>


    <style>
        h1 {
            font-size: 24px;
        }

        body {
            margin-top: 10%;
        }

        #links {
            text-align: left;
            margin-top: 20px;
            font-size: 1.1rem;
        }
        
        #links a {
            display: inline-block;
            margin-bottom: 5px;
        }
    </style>

    <script>
    //========================
    //========== Netlify CMS 
    //========================
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
{{ end }}
